<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="mssqlConnection" 
			 providerName="Microsoft.Data.SqlClient" 
			 connectionString="Data Source=(localdb)\mssqllocaldb;Initial Catalog=ShopDb; Integrated Security =True"/>
		<add name="msAccessConnection"
			 providerName="Microsoft.ACE.OLEDB.12.0"
			 connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=..\..\..\..\..\ShopLibrary\Access\ShopDb.accdb"/>
	</connectionStrings>
</configuration>